.clients{
  float: left;
  width: 100%;
  position: relative;
  &__title{
    font-family: $latoBlack;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0 80px;
    width: 100%;
  }
  &__desk{
    color: #1b1b1b;
    font-size: 14px;
    line-height: 21px;
    padding: 0 80px;
    width: 100%;
  }
  &__wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 80px;
    margin: 50px 0;
  }
  &__item{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 15px 30px 15px;
  }
}