.how-works{
  float: left;
  width: 100%;
  position: relative;
  &__head{
    width: 100%;
    position: relative;
    float: left;
    background-color: #efeeee;
    padding: 35px 0;
    @include breakpoint(max-width 660px){
      margin-top: 30px;
    }
  }
  &__wrap{
    display: block;
    position: relative;
    float: left;
    padding-left: 104px;
    @include breakpoint(max-width 992px){
      padding-left: 0;
      width: 100%;
    }
  }
  &__desk{
    width: 761px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
    @include breakpoint(max-width 992px){
      width: 100%;
    }

  }
  &__title{
    margin-top: 0;
    margin-bottom: 30px;
    color: #1b1b1b;
    font-family: $latoBlack;
    font-size: 18px;
    text-transform: uppercase;
    @include breakpoint(max-width 660px){
      font-size: 17px;
      text-align: center;
    }
  }
  &__absolute{
    position: absolute;
    width: 270px;
    height: 235px;
    right: 25px;
    top: -100px;
    background: url("../img/2.png") no-repeat center center;
    background-size: contain;
    @include breakpoint(max-width 660px){
      display: none;
    }
  }
  &__body{
    position: relative;
    float: left;
    width: 100%;
  }
  &__wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    @include breakpoint(max-width 992px){
      padding-left: 0;
      padding-bottom: 0;
    }
    @include breakpoint(max-width 660px){
      padding-top: 0;
    }
  }
  &__img-block{
    width: 315px;
    height: 452px;
    position: relative;
    margin-right: 50px;
    @include breakpoint(max-width 660px){
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__description{
    width: 400px;
    height: 411px;
    @include breakpoint(max-width 992px){
      height: auto;
    }
    @include breakpoint(max-width 660px){
     width: 100%;
      text-align: center;
    }
    p{
      color: #1b1b1b;
      font-size: 14px;
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

}