.footer{
  position: relative;
  float: left;
  width: 100%;
  &__input {
    width: 100%;
    max-width: 310px;
    display: inline-block;
    height: 44px;
    border: 1px solid #e74038;
    background: transparent;
    padding: 0 25px;
    margin-bottom: 20px;
  }
  &__lvl-1{
    float: left;
    width: 100%;
    background-color: #efeeee;
    padding: 50px;
  }
  &__lvl-2{
    float: left;
    width: 100%;
    background-color: #ffffff;
    display: flex;
  }
  &__form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    .footer__input {
      margin-right: 20px;
      transition: 200ms ease;
      &:focus{
        transition: 200ms ease;
        box-shadow: 0 0 5px lighten(#e74038, 20%);
        border-color: lighten(#e74038, 20%);
      }
    }
    .feedback-btn {
      min-width: 200px;
      margin-left: 40px;
    }
    [type="checkbox"] {
      margin: 10px 0 0 45px;
    }
    label{
      width: 50%;
      color: #656565;
      font-size: 13px;
      font-family: $latoLight;
    }
  }
  &__document{
    width: 470px;
    float: left;
    position: relative;
  }
  &__right-form{
    float: right;
    width: calc(100% - 470px);
  }
  &__form-title{
    font-family: $latoBlack;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__form-desk{
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  &__document-absolute{
    left: 40px;
    top: -140px;
    position: absolute;
    width: 307px;
    height: 425px;
    img{
      position: relative;
      z-index: 1;
      width: 100%;
      height: auto;
    }
  }
  &__logo {
    font-size: 35px;
    font-weight: 700;
    color: #b51e17;
  }
  &__contacts {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contacts-block {
    display: flex;
    flex-direction: column;
  }

  &__lvl-2-img {
    position: absolute;
    bottom: 0;
    right: -100px;
  }
  &__lvl-2-wrap {
    margin-left: 80px;
    padding: 30px 0;
    max-width: 580px;
    width: 100%;
  }
  &__lvl-2__form {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    .footer__input {
      margin: 0;
      transition: 200ms ease;
      &:focus{
        transition: 200ms ease;
        box-shadow: 0 0 5px lighten(#e74038, 20%);
        border-color: lighten(#e74038, 20%);
      }
    }
  }
  &__sitex-img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

}